.doblado {
  background: none repeat scroll 0 0 #9f9bad; /* color de fondo */
  color: #FFFFFF; /* color de texto */
  margin: 0.99em auto;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
}

.doblado::before {
  -moz-box-shadow: 0 1px 1px rgba(221, 208, 208, 0.692), -1px 1px 1px rgba(201, 195, 195, 0.856);
  background: none repeat scroll 0 0 #bedf87; /* color esquina */
  border-color: #FFFFFF #f3d2e1 #8b246f #e2370c; /* color de borde */
  border-style: solid;
  border-width: 0 25px 20px 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.container-text {
    box-sizing: border-box;
    flex: 1 1 none;
    padding-bottom: 5px;
     overflow: auto; /* Agrega desplazamiento vertical si es necesario */
     white-space: normal; /* Permite saltos de línea */
     word-wrap: break-word; /* Rompe las palabras si son demasiado largas */
     border: 1px solid #612a52;
     border-radius: 5px;
     height: auto;
     max-height:calc(100vh - 85px) !important; 
 
     background-color: rgb(97, 42, 82,0.2); 
     padding: 2px;  
 
   }
.container-text >*{
     font-size: 1rem;
   }
  /* Estilos para pantallas con un ancho menor a 780px */
@media (max-width: 880px) {

    /* Aquí puedes definir los estilos que deseas aplicar cuando la pantalla sea más pequeña */
    /* Por ejemplo, cambiar la altura de un elemento */
    .container-text >*{
        font-size: 0.9rem;
      }
  }
  /* Estilos para pantallas con ancho de 780px y altura de 619px */
@media (max-width: 1100px) and (max-height: 650px) {

  }